@model BabyStore.Models.Category

@{
    ViewBag.Title = "Details";
    //var str = @"Hello \\ Rajat";
    //var str2 = @"This is ""it"" ";
}

<h2>Details</h2>
@*<h3>@str</h3>
<h3>@str2</h3>*@
<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
